<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxu.yueread.dao.admin.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.gxu.yueread.entity.Carousel">
    <!--@mbg.generated-->
    <!--@Table carousel-->
    <id column="carousel_id" jdbcType="INTEGER" property="carouselId" />
    <result column="carousel_img" jdbcType="VARCHAR" property="carouselImg" />
    <result column="carousel_url" jdbcType="VARCHAR" property="carouselUrl" />
    <result column="carousel_rank" jdbcType="INTEGER" property="carouselRank" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    carousel_id, carousel_img, carousel_url, carousel_rank
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from carousel
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from carousel
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="carousel_id" keyProperty="carouselId" parameterType="com.gxu.yueread.entity.Carousel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into carousel (carousel_img, carousel_url, carousel_rank
      )
    values (#{carouselImg,jdbcType=VARCHAR}, #{carouselUrl,jdbcType=VARCHAR}, #{carouselRank,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="carousel_id" keyProperty="carouselId" parameterType="com.gxu.yueread.entity.Carousel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into carousel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carouselImg != null">
        carousel_img,
      </if>
      <if test="carouselUrl != null">
        carousel_url,
      </if>
      <if test="carouselRank != null">
        carousel_rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carouselImg != null">
        #{carouselImg,jdbcType=VARCHAR},
      </if>
      <if test="carouselUrl != null">
        #{carouselUrl,jdbcType=VARCHAR},
      </if>
      <if test="carouselRank != null">
        #{carouselRank,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxu.yueread.entity.Carousel">
    <!--@mbg.generated-->
    update carousel
    <set>
      <if test="carouselImg != null">
        carousel_img = #{carouselImg,jdbcType=VARCHAR},
      </if>
      <if test="carouselUrl != null">
        carousel_url = #{carouselUrl,jdbcType=VARCHAR},
      </if>
      <if test="carouselRank != null">
        carousel_rank = #{carouselRank,jdbcType=INTEGER},
      </if>
    </set>
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxu.yueread.entity.Carousel">
    <!--@mbg.generated-->
    update carousel
    set carousel_img = #{carouselImg,jdbcType=VARCHAR},
      carousel_url = #{carouselUrl,jdbcType=VARCHAR},
      carousel_rank = #{carouselRank,jdbcType=INTEGER}
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </update>
</mapper>