<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxu.yueread.dao.BookCategoryMapper">
  <resultMap id="BaseResultMap" type="com.gxu.yueread.entity.BookCategory">
    <!--@mbg.generated-->
    <!--@Table book_category-->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, category_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from book_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from book_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="category_id" keyProperty="categoryId" parameterType="com.gxu.yueread.entity.BookCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into book_category (category_name)
    values (#{categoryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="category_id" keyProperty="categoryId" parameterType="com.gxu.yueread.entity.BookCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into book_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxu.yueread.entity.BookCategory">
    <!--@mbg.generated-->
    update book_category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxu.yueread.entity.BookCategory">
    <!--@mbg.generated-->
    update book_category
    set category_name = #{categoryName,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>