<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxu.yueread.dao.IndexConfigMapper">
  <resultMap id="BaseResultMap" type="com.gxu.yueread.entity.IndexConfig">
    <!--@mbg.generated-->
    <!--@Table index_config-->
    <id column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="config_type" jdbcType="INTEGER" property="configType" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    config_id, config_type, book_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from index_config
    where config_id = #{configId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from index_config
    where config_id = #{configId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="config_id" keyProperty="configId" parameterType="com.gxu.yueread.entity.IndexConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into index_config (config_type, book_id)
    values (#{configType,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="config_id" keyProperty="configId" parameterType="com.gxu.yueread.entity.IndexConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into index_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configType != null">
        config_type,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configType != null">
        #{configType,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxu.yueread.entity.IndexConfig">
    <!--@mbg.generated-->
    update index_config
    <set>
      <if test="configType != null">
        config_type = #{configType,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
    </set>
    where config_id = #{configId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxu.yueread.entity.IndexConfig">
    <!--@mbg.generated-->
    update index_config
    set config_type = #{configType,jdbcType=INTEGER},
      book_id = #{bookId,jdbcType=INTEGER}
    where config_id = #{configId,jdbcType=INTEGER}
  </update>
</mapper>