<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxu.yueread.dao.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.gxu.yueread.entity.OrderItem">
    <!--@mbg.generated-->
    <!--@Table order_item-->
    <id column="order_item_id" jdbcType="INTEGER" property="orderItemId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="selling_price" jdbcType="DECIMAL" property="sellingPrice" />
    <result column="book_count" jdbcType="INTEGER" property="bookCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_item_id, order_id, book_id, selling_price, book_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from order_item
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from order_item
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="order_item_id" keyProperty="orderItemId" parameterType="com.gxu.yueread.entity.OrderItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into order_item (order_id, book_id, selling_price, 
      book_count)
    values (#{orderId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{sellingPrice,jdbcType=DECIMAL}, 
      #{bookCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="order_item_id" keyProperty="orderItemId" parameterType="com.gxu.yueread.entity.OrderItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="sellingPrice != null">
        selling_price,
      </if>
      <if test="bookCount != null">
        book_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="sellingPrice != null">
        #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="bookCount != null">
        #{bookCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxu.yueread.entity.OrderItem">
    <!--@mbg.generated-->
    update order_item
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="sellingPrice != null">
        selling_price = #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="bookCount != null">
        book_count = #{bookCount,jdbcType=INTEGER},
      </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxu.yueread.entity.OrderItem">
    <!--@mbg.generated-->
    update order_item
    set order_id = #{orderId,jdbcType=INTEGER},
      book_id = #{bookId,jdbcType=INTEGER},
      selling_price = #{sellingPrice,jdbcType=DECIMAL},
      book_count = #{bookCount,jdbcType=INTEGER}
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </update>
</mapper>